<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!-- Llamando el script del head que esta en el template -->
    <head th:insert="~{template.html :: head}"></head>
<body>
    <!-- Hace el llamado al nav que esta en el template -->
<div th:insert="~{template.html :: nav}"></div>
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <button type="button" class="btn btn-primary open-modal"
                    data-toggle="modal" data-target="#arbolModal">
                Nuevo Arbol
            </button>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Flor</th>
                    <th scope="col">Madera</th>
                    <th scope="col">Hojas</th>
                    <th scope="col">Altura</th>
                </tr>
                    
                </thead>
                <tbody>
              <tr th:each="arbol : ${arboles}">
                    <td><span th:text="${arbol.id}"></span></td>
                    <td><img alt="..." class="card-img-top" th:src="${arbol.ruta_imagen}"/></td>
                    <td><span th:text="${arbol.nombre_comun}"> </span></td>
                    <td><span th:text="${arbol.tipo_flor}"> </span></td>
                    <td><span th:text="${arbol.Hojas}"> </span></td>
                    <td><span th:text="${arbol.Altura}"> </span></td>
           </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>

<!-- LLama los scripts del framework y el footer que igualmente se encuentra en el template -->
<div th:insert="~{template.html :: footer}"></div>
<div th:insert="~{template.html :: scripts}"></div>

</body>
</html>

